@import "nav.css";
@import "imgtrailer.css";
@import "scrollbar.css";

body{
  margin: 0%;
  background-color: #000000;
}


div#conteudo{
  transform: translate(0, 33rem);
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 3;
  width: 97.5vw;
}

div#conteudo>p{
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
}

div.tipo-monstros>h2{
  margin-left: 1rem;
  margin-right: 1rem;
}

div.lista{
  display: flex;
  overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-left: 1rem;
  margin-right: 0.25rem; 
  margin-bottom: 3rem;
  height: 23rem;
  background: rgba(255, 255, 255, 0.288);
  padding: 0.5rem;
  
}

div.lista-mini{
  background-color: rgb(155, 159, 168) ; 
  height: 15rem ;
  border: 2px solid black;
  margin-right: 1.5rem;
}

div.lista-mini>div.criaturas>a>img{
  height: 7rem;
  margin-bottom: 1rem;
}

div.lista-mini>div.criaturas{
  height: 10rem;
  margin-bottom: 1rem;
}

div.tipo-monstros{
  background-color: rgb(236, 241, 255);
  padding: 1rem;
  margin-top: 6rem;
  width: 100%;
}

div.tipo-monstros>p{
  padding: 1rem;
  background-color: rgb(155, 159, 168);
  margin-left: 1rem;
  margin-right: 1.5rem;
}

div.criaturas{
  margin: 0.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 17rem;
  padding: 1rem;
  background: rgb(255, 255, 255);
  border: 2px solid black;
  box-shadow: 3px 3px 3px black;
  transition: 0.1s;
}

div.name{
  text-align: center;
}

div.criaturas>a>img{
  height: 12rem;
  margin-bottom: 1rem;
  filter: drop-shadow( rgba(55, 56, 129, 0.781) 7px 7px 2px);
}

div.criaturas:hover{
  transform: scale(115%);
  background: linear-gradient(rgb(0, 26, 255), red);
  color: white;
  transition: 0.1s;
  
}

div.criaturas:hover>a>img{
  filter: drop-shadow( rgb(107, 0, 0) 7px 7px 2px);
}