div#conteudo>div::-webkit-scrollbar {
    height: 14px;
  }
  
  div#conteudo>div::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }
  
  div#conteudo>div::-webkit-scrollbar-thumb {
    background: red;
    border: 2px solid white;
    border-radius: 10px;
  }
  
  div#conteudo::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }