
body{
    margin: 0%;
    background-color: #161616;
  }
  
  
  div#conteudo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-left: 3rem;
    margin-right: 3rem;
    transform: translate(0, -40rem);
    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem;
    background: rgb(236, 241, 255);
    border: 2px solid black;
  }
  
  img.drops{
    width: 3rem;
    transform: translate(0,1rem);
  }
  
  div#conteudo>div>a{
    margin: 1rem;
  }
  
  div#conteudo>div>p{
    margin: 1.5rem;
  }
  
  div#conteudo>div.border-right{
    border-right: 3px solid black;
  }
  div#conteudo>div.border-top{
    border-top: 3px solid black;
  }
  div#conteudo>div.border-top-right{
    border-top: 3px solid black;
    border-right: 3px solid black;
  }
  
  div#conteudo>div>img{
    height: 20rem;
  }
  
  div#conteudo>div>h1,
  div#conteudo>div>h2{
    margin-left: 1rem;
  }
  
  /*img e trailer*/

  p#trailer{
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #00000071;
  }
  
  div#linear-gradient{
    background: linear-gradient(#fffbfb00,#0f0f0f81 15%,#161616,#161616,#161616 );
    height: 18rem;
    width: 100%;
    transform: translate(0,-24rem);
    z-index: 3;
  }
  
  img#fundo{
    width: 100%;
  }
  
  div#trailer{
    transform: translate(1rem,-28rem);
    color: white;
    z-index: 4;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;width: 30rem;
  }
  
  img#trailer1{
    width: 35rem;
  }
  
  /*nav*/

div#pesquisa{
  position: absolute;
  background: white;
  right: 0;
  height: 2.2rem;
  border-radius: 100rem;
  padding: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  cursor: pointer;
}

input#pesquisa{
  height: 0.8rem;
  border: 0;
  background: none;
  outline: 0;
  width: 0;
  transition: 0.4s;
}

div#pesquisa:hover>input{
  width: 12rem;
  margin-left: 0.5rem;
}

div#pesquisa:hover>a{
  background: red;
}
a#pesquisa{
  margin: 0.2rem;
  width: 1.25;
  height:  1.25;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  transform: translate(-0.1rem, 0);
}

img#lupa-branca{
  display: none;
  width: 0;
}

div#pesquisa>a>img{
  height: 1.25rem;
  width: 1.25rem;
}

div#pesquisa:hover>a>img#lupa-vermelha{
  display: none;
}
div#pesquisa:hover>a>img#lupa-branca{
  display: block;
}

img#home{
  width: 12rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
  
nav {
  background: linear-gradient( #000000, #fffbfb00);
  position:fixed;
  display: flex;
  width: 100%;
  z-index: 1;
}
  
nav > div {
  margin-top: 1rem;
  margin-left: 5rem;
}
  
nav ul li {
  padding: 10px;
}
  
nav :is(ul,li) {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;   
}
  
nav a {
  color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
}
  
nav a:hover {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
}
  
nav ul li:has(ul)::after{
  content: ">";
  color: white;
  padding: 3px;
  font-size: larger;
}
  
nav ul li:has(ul):hover::after{
  content: "v";
  transition: 1s;
  color: red;
  padding: 3px;
  transition: 1s;
}
  
nav ul li:has(ul) {
  font-family:Arial, Helvetica, sans-serif;
}
  
nav > div > ul > li > ul {
position: absolute;
top: 100%;
left: 0;
background: linear-gradient( #0000009d,#0000009d);
opacity: 0;
visibility: hidden;
transition: .3s;
border-bottom-right-radius: 10px;
}
  
nav > div > ul > li > ul > li {
  display: block;
  border-left: 2px solid red;
}
  
nav > div > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}
  
nav > div > ul > li {
  position: relative;
}