p#trailer{
  border-radius: 10px;
  padding: 0.5rem;
  background-color: black;
}

img.fundo{
  width: 100%; 
}

div#trailer{
  transform: translate(1vw,20vw);
  color: white;
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  width: 30vw;
  position: absolute;
  z-index: 2;
}

img#trailer1{
  width: 40vw;
}
img#trailer2{
  width: 3rem;
  height: 3rem;
}
button#trailer{
  border: inherit;
  font-size: 1.2rem;
  display: flex;
  height: 3rem;
  border-radius: 10px;
  width: 12rem;
  text-align: center;
  transition: 0.2s;
  background:  linear-gradient(90deg, rgb(255, 0, 128) 0%, rgb(255, 217, 0) 100%);
  justify-content: center;
  margin-top: 1rem;
}

p#assistir{
  height: 3rem;
  font-family:Arial, Helvetica, sans-serif;
  transform: translate(0,-0.5rem);
}

button#trailer:hover{
  transform: scale(110%);
  cursor: pointer;
  transition: 0.2s;
}
button#trailer:active{
  transform: scale(100%);
  transition: 0.2s;
} 

div.linear-gradient{
  background: linear-gradient( #fffbfb00, black, black, rgba(0, 0, 0, 0));
  height: 19rem;
  width: 100%;
  transform: translate(0,-9.2rem);
  z-index: 1;
  position: absolute;
}

div#trailer a{
  background:  linear-gradient(90deg, rgb(255, 0, 128) 0%, rgb(255, 217, 0) 100%);
  width: 6rem;
  height: 2.8rem;
  text-align: center;
  border-radius: 10px;
  margin-top: 1rem;
  text-decoration: none;
}

div#trailer a:hover{
  transform: scale(110%);
  cursor: pointer;
  transition: 0.2s;
}

div#trailer a p{
  font-family:Arial, Helvetica, sans-serif;
  transform: translate(0,-0.5rem);
  color: black;
}

@media (max-width: 768px) {
  p#trailer{
    border-radius: 10px;
    padding: 0.5rem;
    background-color: black;
  }
  
  img.fundo{
    width: 100%; 
  }
  
  div#trailer{
    transform: translate(0,40vw);
    color: white;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    width: 100%;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    align-items: center;
  }
  
  img#trailer1{
    width: 80vw;
  }
  img#trailer2{
    width: 3rem;
    height: 3rem;
  }
  button#trailer{
    border: inherit;
    font-size: 1.2rem;
    display: flex;
    height: 3rem;
    border-radius: 10px;
    width: 12rem;
    text-align: center;
    transition: 0.2s;
    background:  linear-gradient(90deg, rgb(255, 0, 128) 0%, rgb(255, 217, 0) 100%);
    justify-content: center;
    margin-top: 1rem;
  }
  
  p#assistir{
    height: 5rem;
    font-family:Arial, Helvetica, sans-serif;
    transform: translate(0,-0.5rem);
  }
  
  button#trailer:hover{
    transform: scale(110%);
    cursor: pointer;
    transition: 0.2s;
  }
  button#trailer:active{
    transform: scale(100%);
    transition: 0.2s;
  } 
  
  div.linear-gradient{
    background: linear-gradient( #fffbfb00, black, black, rgba(0, 0, 0, 0));
    height: 19rem;
    width: 100%;
    transform: translate(0,-9.2rem);
    z-index: 1;
    position: absolute;
  }
  
  div#trailer a{
    background:  linear-gradient(90deg, rgb(255, 0, 128) 0%, rgb(255, 217, 0) 100%);
    width: 6rem;
    height: 2.8rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
    text-decoration: none;
  }
  
  div#trailer a:hover{
    transform: scale(110%);
    cursor: pointer;
    transition: 0.2s;
  }
  
  div#trailer a p{
    font-family:Arial, Helvetica, sans-serif;
    transform: translate(0,-0.5rem);
    color: black;
  }
}  