@import "nav.css";
@import "imgtrailer.css";
@import "scrollbar.css";

body{
    margin: 0%;
    background-color: black;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.quiz{
    z-index: 5;
    position: absolute;
    transform: translate(0,10rem);
    width: 85%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(3,1fr);
    color: white;
}

.quiz div{
    padding: 1rem; 
}

.questaoAtual{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
}

.divPergunta{
    grid-column-start: 2;
    grid-column-end: 5;
    justify-content: center;
}

.alternativas{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.alternativas button{
    background-color: white;
    border-radius: 10px;
    color: red;
    font-size: x-large;
    border: none;
    transition: 0.2s;
}
.alternativas button:hover{
    transform: scale(120%);
    cursor: pointer;
    transition: 0.2s;
}
.alternativas button:active{
    transform: scale(100%);
    background-color: red;
    color: white;
    transition: 0.2s;
}

.totalErros{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.totalAcertos{
    grid-column-start: 3;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.747);
    padding: 1rem;
    border-radius: 10px;
}

.escondido{
    display: none;
}

.quiz div>h1{
    margin-right: 0.5rem;
}

.final{
    background-color: blue;
}

.modal{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.459);
    display: grid;
    place-items: center;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}

.modal.opened,
.final.opened{
    opacity: 1;
    visibility: visible;
}

.modal .window{
    width: 20vw;
    height: 20vh;
    background-color: white;
    border-radius: 1vw;
    padding: 1rem;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: white;
    font-size: 3rem;
}

.acertou,
.errou{
    opacity: 0;
    visibility: hidden;
    color: black;
    display: none;
    font-size: 3rem;
}

.modal.modalAcertou{
    background-color: green;
}
.modal.modalErrou{
    background-color: rgb(255, 0, 0);
}

.acertou.opened,
.errou.opened{
    opacity: 1;
    visibility: visible;
    display: block;
}

.final>div{
    width: 50vw;
    height: 50vh;
    background-color: white;
    
}

.final{
    position: fixed;
    z-index: 6;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.445);
    display: grid;
    place-items: center;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}